:root {
  --primary-color: #1E3E62; 
  --accent-color: #FF6500; 
  --secondary-color: #f7f7f7; 
  --subtask-bg-color: #e0e0e0d2;
  --text-color: #333333; 
  --border-radius: 12px;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.dashboard-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
  color: var(--primary-color);
}

.dashboard {
  margin: 0 auto;
  position: relative;
  padding: 80px 100px;
  min-height: 100vh;
  overflow: hidden;
}

.lists-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 20px;
  margin-bottom: 20px; 
}

.completed-dropzone {
  border-radius: 12px;
  border: 3px solid rgb(62, 123, 62);
  padding: 20px;
  text-align: center;
  height: 100%;
}

.add-task-button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.add-task-button {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.add-task-button:hover {
  background-color: var(--accent-color);
}

.error-message {
  color: rgba(255, 0, 0, 0.426);
  margin-top: 10px;
  text-align: center;
}
  
  