.task-item-container {
  margin-bottom: 10px;
}

.task-item, .subtask-item {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 14px;
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  margin-bottom: 5px;
  width: 100%; 
  color: white;
  cursor: pointer;
}

.task-description {
  flex-grow: 1; 
  margin-right: 20px;
}

.subtasks-container {
  margin-left: 20px;
  margin-top: 10px;
}

.subtask-item {
  background-color: var(--subtask-bg-color);
  padding: 8px;
  border-radius: var(--border-radius);
  color: var(--text-color); 
  margin-top: 5px;
  transition: background-color 0.2s ease-in-out;
}

.delete-icon {
  color: rgba(255, 0, 0, 0.535);
  cursor: pointer;
  flex-shrink: 0;
  margin-left: 10px; 
}

.sub-subtask {
  margin-left: 20px; 
  background-color: #d6d6d6; 
}
